[submodule "subrepos/HgbArticle"]
	path = subrepos/HgbArticle
	url = https://github.com/Digital-Media/HgbArticle.git
[submodule "subrepos/HgbThesisEN"]
	path = subrepos/HgbThesisEN
	url = https://github.com/Digital-Media/HgbThesisEN.git
[submodule "subrepos/HgbThesisDE"]
	path = subrepos/HgbThesisDE
	url = https://github.com/Digital-Media/HgbThesisDE.git
[submodule "subrepos/HgbTermReport"]
	path = subrepos/HgbTermReport
	url = https://github.com/Digital-Media/HgbTermReport.git
[submodule "subrepos/HgbLabReportEN"]
	path = subrepos/HgbLabReportEN
	url = https://github.com/Digital-Media/HgbLabReportEN.git
[submodule "subrepos/HgbLabReportDE"]
	path = subrepos/HgbLabReportDE
	url = https://github.com/Digital-Media/HgbLabReportDE.git
[submodule "subrepos/HgbInternshipReport"]
	path = subrepos/HgbInternshipReport
	url = https://github.com/Digital-Media/HgbInternshipReport.git
